@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
    <h1>Tic Tac Toe Game!!</h1>   
@*</div>*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tic-Tac-Toe - Craig Lawrie</title>
    <link href="~/Content/gamestylesheet.css" rel="stylesheet" />
</head>
<body style="text-align:center; margin-top:5rem;">
<div id="game-board">
    <div id="game-background"></div>
    @for (int i = 0; i < 3; i++)
    {
        <div class="game-row">
            @for (int j = 0; j < 3; j++)
            {
                <div class="game-cell">
                    @if (Model.BoardGame[i * 3 + j] == ' ' && !Model.IsGameOver)
                    {
                        <form method="post" class="centered">
                            <input type="hidden" value="@(i * 3 + j)" name="square" />
                            <button class="white-btn">@Model.BoardGame[i * 3 + j]</button>
                        </form>
                    }
                    else
                    {
                        <div class="centered">
                            <span>@Model.BoardGame[i * 3 + j]</span>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
<p>
    @if (Model.IsGameOver && Model.Winner != ' ')
    {
        <span>@Model.Winner Player wins!</span>
    }
    else if (Model.IsGameOver)
    {
        <span>No one has won this game!</span>
    }
    else
    {
        <span>&nbsp;</span>
    }
</p>
<form method="post" style="margin-top: 1rem;">
    <input type="hidden" value="-1" name="square" />
    <button>Start New Game</button>
</form>
</body>
</html>